.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.purple {
  background: #8E6E95;
}

.green {
  background: #39A59C;
}

.blue {
  background: #344769;
}
.orange {
  background: #E8741E;
}
